*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset {
  border: none;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 30px;
  align-items: end;
  margin: 133px 30px;
}

.result__video-container {
  position: relative;
  width: 100%;
}

.result__video {
  display: block;
  width: 711px;
  height: 386px;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 40px;
  width: fit-content;
  margin-top: 16px;
}

.search-form__fieldset {
  color: #fff;
  font-family: "Fira Sans Condensed", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.search-form__textfield {
  width: 225px;
  margin: 2px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  outline: none;
  color: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  cursor: pointer;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  border: 1px solid #fff;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  vertical-align: middle;
}

.search-form__checkbox[type="checkbox"]:checked
  + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #fff;
}

.button {
  width: 100%;
  border: 1px solid #fff;
  padding: 5px 0;
  color: #fff;
  font-family: "Fira Sans Condensed", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  background-color: transparent;
  cursor: pointer;
}

.button:focus-visible {
  border: 1px solid #fff;
  box-shadow: 0px 0px 0px 1px #000, 0 0px 0px 2px #fff;
  outline: none;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 190px;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 26px;
  color: #fff;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 402px;
  height: 297px;
  overflow: auto;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.content__video-card-description-container {
  flex: 1;
}

.content__video-card-title {
  margin-bottom: 6px;
  color: #fff;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  color: #fff;
  font-family: "Fira Sans Condensed", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 90%;
  text-transform: none;
}

.content__card-link {
  display: block;
  margin: 2px;
  text-decoration: none;
  cursor: pointer;
}

.content__card-link_current {
  background: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.content__card-link:focus-visible {
  border: 1px solid #fff;
  outline: none;
}

.content__card-link:active {
  background: #545050;
}
